<div class="MainMenu">
  <div class="MainMenu__items">

    <div class="MainMenu__logo">
      <span>Best Day</span>
    </div>

    <div class="MainMenu__item">
      {{link-to 'Explore' 'index'}}
    </div>

    <div class="MainMenu__item">
      {{link-to 'Days' 'days'}}
    </div>
    
  </div>
</div>
